.personablock{
  width: calc(100% - 24px);
  height: calc(64px - 24px);
  padding: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.2s;
  cursor: pointer;
  .sphere{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: #F2F2F2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    color: #000;
  }
  .content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 288px;
    height: 36px;
    .name{
      font-size: 14px;
      font-weight: 600;
      color: #000;
    }
    .lastmess{
      color: #777B8C;
      font-size: 14px;
      font-weight: 400;
    }
  }
}
.personablock:hover{
  background-color: #EBECF2;
  transition: 0.2s;
}